[run]
source = minimal_django
branch = True
omit =
	minimal_django/*/migrations/*
	minimal_django/minimal_django/wsgi.py

[report]
fail_under = 100
show_missing = True
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
